In [2]:
import numpy as np

#**S02 T01**#

##*Exercice 1*##

In [12]:
firstT = ["january", "february", "march"]
secondT = ["april", "may", "june"]
thirdT = ["july", "august", "september"]
fourthT = ["october", "november", "december"]

months = [firstT, secondT, thirdT, fourthT]
print(months)

[['january', 'february', 'march'], ['april', 'may', 'june'], ['july', 'august', 'september'], ['october', 'november', 'december']]

##*Exercice 2*##

In [9]:
print(firstT[1])

february

In [10]:
print(firstT)

['january', 'february', 'march']

In [14]:
print(thirdT[2] + ", " + fourthT[0] )

september, october

##*Exercice 3*##

In [15]:
numList = [2,5,3,6,9,1,4,8,7]

In [23]:
print("There are " + str(len(numList)) + " numbers in the list.")

There are 9 numbers in the list.

In [25]:
count_3 = numList.count(3)
print("Number 3 is " + str(count_3) + " times in the list.")

Number 3 is 1 times in the list.

In [27]:
count_4 = numList.count(4)
count_total = count_3 + count_4
print("Number 3 and 4 are " + str(count_total) + " times in total in the list.")

Number 3 and 4 are 2 times in total in the list.

In [29]:
print("Largest element in the list is:", max(numList))

Largest element in the list is: 9

In [35]:
numList.sort()

print ("The 3 smallest numbers in the given list are "+ str(numList[0]) + ", " + str(numList[1]) + " and " + str(numList[2]) + ".")

The 3 smallest numbers in the given list are 1, 2 and 3.

In [41]:
listRange = max(numList) - min(numList)
print ("The range of the list is " + str(listRange) + ".")

The range of the list is 8.

##*Exercice 4*##

In [47]:
shoppingList = { "Apples" : {"Qty": 5, "€": 0.42}, "Pears" : {"Qty": 3, "€": 0.66} }

In [48]:
shoppingList["Oranges"] = {"Qty": 4, "€": 0.75}
print(shoppingList)

{'Apples': {'Qty': 5, '€': 0.42}, 'Pears': {'Qty': 3, '€': 0.66}, 'Oranges': {'Qty': 4, '€': 0.75}}

In [55]:
print("The total amount of the pears is " + str(shoppingList["Pears"]["Qty"]*shoppingList["Pears"]["€"]) + "€.")

The total amount of the pears is 1.98€.

In [61]:
print("The total of fruits bought is " + str(len(shoppingList.keys())) + ".")

The total of fruits bought is 3.

In [71]:
priceMaxList = (shoppingList["Apples"]["€"], shoppingList["Pears"]["€"], shoppingList["Oranges"]["€"])
print(priceMaxList)

(0.42, 0.66, 0.75)

In [72]:
max_value = max(priceMaxList)
print('The most expensive fruit is :', max_value)

The most expensive fruit is : 0.75

In [83]:
price=0
for item in shoppingList:
    if (shoppingList[item]["€"] > price):
        expensiveFruit = item
print("The most expensive fruit is " + expensiveFruit + ".")

The most expensive fruit is Oranges.